body {
    font-family: Arial, sans-serif;
    background-color: #101218;
    margin: 0;
    padding: 20px;
}

h1 {
    color: grey;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.speech-txt-area {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(242, 239, 239, 0.2);
    padding: 10px;
    margin-top: 20px;
    background-color: #101218;
    font-size: 16px;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
    color: #fff;
}
.speech-text-container{
    align-content: center;
    height: 75vh;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    margin: 10px;
    width: 200px;
}

button:hover {
    background-color: #0056b3;
}
/* Toast container */
#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

/* Toast message */
.toast {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 5s ease-in-out;
}
.mt-30{
    margin-top: 30px;
}
.align-div-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
button.icon-btn {
    background-color: transparent; /* Transparent background */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 0; /* Remove padding */
    display: flex;
    align-items: center;
}

button.icon-btn img.icon {
    width: 24px; /* Set the size of the icon */
    height: 24px;
}

button.icon-btn:hover img.icon {
    opacity: 0.8; /* Slightly dim the icon on hover */
}
#unsupported-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#unsupported-modal p {
    text-align: center;
    margin: 20px;
}

#unsupported-modal button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Fade-in-out animation */
@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-20px); }
}